
/* 旅行日志的css */
ul{
    padding: 0px;
}
/* 页眉部分 */
div.cont{
    
    text-align: center;
    margin:10px auto;
}
header{
    padding: 20px;
    margin-left: 20px;
    height: 60px;
}
.navbar{
    display: block;
    float:left;
    font-size: 1.5em;
    
}

nav.head{
    
    float: right;
}
nav.head ul li {
    display: inline-block;
    list-style: none;
    padding: 5px;
}
/* 日志部分的css  */
section{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-top: solid 2px;
    font: 0.8em;  
    width: 80%;
    display: inline-block;
}
#cont-1{
    border-top: none;
}
#cont-3{
    color: plum;
}
#cont-4{
    color: skyblue;
    
}
.contp{
    font-size: 0.8em;
}
section#cont-tail{
    border-bottom:none ;
}

/* 图片排列 */
.contimg{
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    padding: auto;
}
.contimg img{
   display: block;
   float: left;
   padding: 5px;
   border:  solid 1px;
}

/* 学习园地 */
.main{
    margin: 10px auto;
    width: 75%;
    vertical-align: middle;
    text-align: center;
}
.maincont{
    font-size: 18px;
    margin: 0px 30px;
   
}
.maincont ol li{
    text-align: left;
}
.sibar {
    display: block;
    float: left;
}
.sidepart{
    float: left;
    display: block;
}
.navul{
	width: 210px;
	float: left;
	font-weight: bold;
    margin-left: 10px;
	margin-top: 15px;
}

ul.navul li{
	font-size: 18px;
	line-height: 25px;
	border-bottom: 1px solid  ;
	margin: 15px;
	display: block;
	padding-bottom: 10px;
	padding-left: 20px;

}


.maincont{
   display: block;
   float: left;
   text-align: center;
}

/* 生活趣味 */
